In [1]:
# add dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from datetime import datetime
from scipy.stats import linregress

In [2]:
#Questions to Answer
# Are Sales Increasing? 
# What products are selling the most? 
# What products are selling the least? 
# Do Higher Discounts result in more products sold? Total Net Sales? 
# What products are increasing the most in demand?

In [3]:
# write paths to files
sales_path = os.path.join("Resources","business.retailsales.csv")
monthly_sales_path = os.path.join("Resources","business.retailsales2.csv")

# read files to pandas dataframes
sales_df = pd.read_csv(sales_path)
monthly_sales_df = pd.read_csv(monthly_sales_path)

In [4]:
sales_df.head()

,Product Type,Net Quantity,Gross Sales,Discounts,Returns,Total Net Sales
0,Art & Sculpture,34,14935.0,-594.00,-1609.0,12732.00
1,Basket,13,3744.0,-316.80,0.0,3427.20
2,Basket,12,3825.0,-201.60,-288.0,3335.40
3,Basket,17,3035.0,-63.25,0.0,2971.75
4,Art & Sculpture,47,2696.8,-44.16,0.0,2652.64

In [5]:
sales_df["%Discount"] = 100 * (-1 * sales_df['Discounts']) / sales_df['Gross Sales']
sales_df.head()

,Product Type,Net Quantity,Gross Sales,Discounts,Returns,Total Net Sales,%Discount
0,Art & Sculpture,34,14935.0,-594.00,-1609.0,12732.00,3.977235
1,Basket,13,3744.0,-316.80,0.0,3427.20,8.461538
2,Basket,12,3825.0,-201.60,-288.0,3335.40,5.270588
3,Basket,17,3035.0,-63.25,0.0,2971.75,2.084020
4,Art & Sculpture,47,2696.8,-44.16,0.0,2652.64,1.637496

In [8]:
# 8 products with null values
sales_df.isnull().sum()

Product Type       8
Net Quantity       0
Gross Sales        0
Discounts          0
Returns            0
Total Net Sales    0
%Discount          1
dtype: int64

In [9]:
sales_df[sales_df['%Discount'].isna()]

,Product Type,Net Quantity,Gross Sales,Discounts,Returns,Total Net Sales,%Discount
1774,Kitchen,-1,0.0,0.0,-106.25,-106.25,NaN

In [12]:
sales_df.iloc[1774,:]
# sales_df.isnull().sum()

Product Type       Kitchen
Net Quantity            -1
Gross Sales            0.0
Discounts              0.0
Returns            -106.25
Total Net Sales    -106.25
%Discount              NaN
Name: 1774, dtype: object

In [ ]:
sales_df.tail()

In [ ]:
# sales with nulls makes up less than 1% of sales, so we can drop these rows
num_null = sales_df.isnull().sum().tolist()[0]
percent_null = num_null / len(sales_df) * 100
percent_null

In [ ]:
# drop rows with null values, now the dataframe is clean
sales_df = sales_df.dropna()
sales_df.isnull().sum()

In [ ]:
# group orders by the product type 
sum_by_product = sales_df.groupby('Product Type').sum()

In [ ]:
product_list = sum_by_product.index.tolist()
sum_products_sold = sum_by_product['Net Quantity']

In [ ]:
# plot total number of items sold for each product
# most ordered products are Art/Sculpture, Basket, and jewelry
plt.bar(product_list, sum_products_sold)
plt.xticks(rotation = 80)
plt.title("Items Sold Per Product")
plt.ylabel("Quantity Sold")

In [ ]:
# most of the money lost by returns is from baskets and Art/Sculptures
returns_by_product = sum_by_product['Returns'] * -1
plt.bar(product_list, returns_by_product)
plt.xticks(rotation = 80)
plt.ylabel("Returns ($)")
plt.title("Returns From Each Product")
plt.show()

In [ ]:
# most of the money from discounts is from baskets and Art/Sculpture
discount_by_product = sum_by_product['Discounts'] * -1
plt.bar(product_list, discount_by_product)
plt.xticks(rotation = 80)
plt.ylabel("Discounts ($)")
plt.title("Total Discounts Per Product Type")

In [ ]:
# inspect the second data frame
# we are given monthy sales, but do not know details about the products sold
monthly_sales_df.head()

In [ ]:
# data is clean
monthly_sales_df.isnull().sum()

In [ ]:
# create new column that combines month and year
monthly_sales_df['Month-Year'] = monthly_sales_df['Month'] + ' ' + monthly_sales_df['Year'].astype(str)
monthly_sales_df['Month-Year']

In [ ]:
# demonstration of converting string to datetime object
s = monthly_sales_df['Month-Year'][0]
_format = "%B %Y"
date = datetime.strptime(s,_format) 
print(date)

In [ ]:
# use the apply function to convert each Month-Year to an actual date
monty_year_series = monthly_sales_df['Month-Year'].apply(lambda x: datetime.strptime(x,_format))
monthly_sales_df['Month-Year'] = monty_year_series
monthly_sales_df['Month-Year'].head()

In [ ]:
# Check type of Month-Year column - it is in fact a datetime object now
monthly_sales_df.dtypes

In [ ]:
monthly_sales_df['Net Loss'] = (monthly_sales_df['Gross Sales'] - monthly_sales_df['Net Sales']) / (monthly_sales_df['Gross Sales']) * 100
monthly_sales_df['Net Loss'] = monthly_sales_df['Net Loss'].apply(lambda x: round(x, 0))

In [ ]:
plt.plot(monthly_sales_df['Month-Year'],monthly_sales_df['Net Loss'])
plt.xticks(rotation = 50)
plt.ylabel("Loss (%)")
plt.title("Monthly Net Loss (2017-2019)")

In [ ]:
plt.plot(monthly_sales_df['Month-Year'],monthly_sales_df['Discounts'] * -1)
plt.xticks(rotation = 50)
plt.ylabel("Discounts ($)")
plt.title("Monthly Net Discounts (2017-2019)")

In [ ]:

plt.plot(monthly_sales_df['Month-Year'],monthly_sales_df['Returns'] * -1)
plt.xticks(rotation = 50)
plt.ylabel("Returns ($)")
plt.title("Monthly Net Returns (2017-2019)")

In [ ]:
plt.plot(monthly_sales_df['Month-Year'],monthly_sales_df['Returns'] * -1)
plt.plot(monthly_sales_df['Month-Year'],monthly_sales_df['Net Loss'] * 90)
plt.xticks(rotation = 50)
plt.ylabel("Toal Net Loss / Scaling Factor")
plt.title("Comparison of Net Loss and Monthly Returns (2017-2019)")

In [ ]:
plt.plot(monthly_sales_df['Month-Year'], monthly_sales_df['Total Sales'])
plt.xticks(rotation = 50)
plt.ylabel("Sales ($)")
plt.title("Monthly Total Sales (2017-2019)")

In [ ]:
monthly_sales_df.groupby('Year').sum()

In [ ]:
years = monthly_sales_df.groupby('Year').sum().index.tolist()
years

In [ ]:
tot_annual_sales = monthly_sales_df.groupby('Year').sum()['Total Sales'].values.tolist()
tot_annual_sales

In [ ]:
plt.plot(years, tot_annual_sales)
plt.xticks(ticks = years)
plt.title("Annual Sales (2017-2019)")
plt.ylabel("Sales ($)")

In [ ]:
plt.bar(years, tot_annual_sales)
plt.xticks(ticks=years)
plt.title("Annual Sales (2017-2019)")
plt.ylabel("Sales ($)")

In [ ]:
year_2017 = monthly_sales_df.loc[monthly_sales_df['Year'] == 2017]
year_2018 = monthly_sales_df.loc[monthly_sales_df['Year'] == 2018]
year_2019 = monthly_sales_df.loc[monthly_sales_df['Year'] == 2019]

In [ ]:
# Each Year, Total Sales Skyrocket From October to December, likely because of Christmas season
plt.plot(year_2017['Month'], year_2017['Total Sales'])
plt.xticks(rotation=50)
plt.ylabel("Sales ($)")
plt.title("Toal Monthly Sales (2017)")
plt.show()

In [ ]:
plt.plot(year_2018['Month'], year_2018['Total Sales'])
plt.xticks(rotation=50)
plt.ylabel("Sales ($)")
plt.title("Toal Monthly Sales (2018)")
plt.show()

In [ ]:
plt.plot(year_2019['Month'], year_2019['Total Sales'])
plt.xticks(rotation=50)
plt.ylabel("Sales ($)")
plt.title("Toal Monthly Sales (2019)")
plt.show()

In [ ]:
plt.plot(year_2017['Month'], year_2017['Total Orders'])
plt.plot(year_2018['Month'], year_2018['Total Orders'])
plt.plot(year_2019['Month'], year_2019['Total Orders'])
plt.xticks(rotation=50)
plt.legend(labels = ["2017","2018","2019"])
plt.title("Total Monthly Orders (2017-2019")
plt.ylabel("Number of Items Sold")
plt.show()

In [ ]:
monthly_sales_df.groupby('Month').mean()

In [ ]:
plt.plot(year_2017['Month'],monthly_sales_df['Net Loss'][0:12])
plt.xticks(rotation = 50)

In [ ]:
plt.plot(year_2018['Month'],monthly_sales_df['Net Loss'][12:24])
plt.xticks(rotation = 50)

In [ ]:
plt.plot(year_2019['Month'],monthly_sales_df['Net Loss'][24:36])
plt.xticks(rotation = 50)

In [ ]:
(slope, intercept, r_value, p_value, std_err) = linregress(monthly_sales_df['Month-Year'].index.tolist(), monthly_sales_df['Total Sales'].values.tolist())
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
regress_values = [(i * slope + intercept) for i in monthly_sales_df['Month-Year'].index.tolist()]
plt.scatter(monthly_sales_df['Month-Year'].index, monthly_sales_df['Total Sales'])
plt.plot(monthly_sales_df['Month-Year'].index.tolist(),regress_values,"r")
plt.annotate(line_eq, (15, 20000), fontsize=15, color="red")
print(f"r value: {r_value}\np_value: {p_value}")
plt.show()

In [ ]:
(slope, intercept, r_value, p_value, std_err) = linregress(monthly_sales_df['Month-Year'].index.tolist(), monthly_sales_df['Net Loss'].values.tolist())
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
regress_values = [(i * slope + intercept) for i in monthly_sales_df['Month-Year'].index.tolist()]
plt.scatter(monthly_sales_df['Month-Year'].index, monthly_sales_df['Net Loss'])
plt.plot(monthly_sales_df['Month-Year'].index.tolist(),regress_values,"r")
plt.annotate(line_eq, (15, 14), fontsize=15, color="red")
print(f"r value: {r_value}\np_value: {p_value}")
plt.show()

In [ ]:
(slope, intercept, r_value, p_value, std_err) = linregress((sales_df['Discounts']*-1).values.tolist(), sales_df['Net Quantity'].values.tolist())
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
regress_values = [(i * slope + intercept) for i in (sales_df['Discounts']*-1).values.tolist()]
plt.scatter((sales_df['Discounts']*-1) ,sales_df['Net Quantity'])
plt.plot((sales_df['Discounts']*-1).values.tolist(),regress_values,"r")
plt.annotate(line_eq, (200, 60), fontsize=15, color="red")
plt.annotate(f"r value: {round(r_value,3)}", (205, 50), fontsize=15, color="red")
print(f"r value: {round(r_value,3)}\np_value: {'{:0.2e}'.format(p_value)}")
plt.title("Quantity of Product Sold Vs Discount")
plt.ylabel("Number Sold")
plt.xlabel("Discount ($)")
plt.show()

In [ ]:
(slope, intercept, r_value, p_value, std_err) = linregress((sales_df['Discounts']*-1).values.tolist(), sales_df['Total Net Sales'].values.tolist())
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
regress_values = [(i * slope + intercept) for i in (sales_df['Discounts']*-1).values.tolist()]
plt.scatter((sales_df['Discounts']*-1) ,sales_df['Total Net Sales'])
plt.plot((sales_df['Discounts']*-1).values.tolist(),regress_values,"r")
plt.annotate(line_eq, (200, 10000), fontsize=15, color="red")
plt.annotate(f"r value: {round(r_value,3)}", (202, 9000), fontsize=15, color="red")
print(f"r value: {r_value}\np_value: {'{:0.2e}'.format(p_value)}\nr^2: {r_value * r_value}")
plt.title("Total Net Sales vs Discount")
plt.xlabel("Discount ($)")
plt.ylabel("Total Net Sales ($)")
plt.show()

In [ ]:
(slope, intercept, r_value, p_value, std_err) = linregress((sales_df['%Discount']).values.tolist(), sales_df['Total Net Sales'].values.tolist())
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
regress_values = [(i * slope + intercept) for i in (sales_df['%Discount']).values.tolist()]
plt.scatter((sales_df['%Discount']) ,sales_df['Total Net Sales'])
plt.plot((sales_df['%Discount']).values.tolist(),regress_values,"r")
plt.annotate(line_eq, (200, 10000), fontsize=15, color="red")
plt.annotate(f"r value: {round(r_value,3)}", (202, 9000), fontsize=15, color="red")
print(f"r value: {r_value}\np_value: {'{:0.2e}'.format(p_value)}\nr^2: {r_value * r_value}")
plt.title("Total Net Sales vs % Discount")
plt.xlabel("Discount (%)")
plt.ylabel("Total Net Sales ($)")
plt.show()

In [ ]:
sales_df

In [ ]:
sales_df[sales_df['Total Net Sales'] < 0]

In [ ]:
sales_per_item = sales_df.groupby('Product Type').sum()['Total Net Sales'] / sales_df.groupby('Product Type').sum()['Net Quantity']

In [ ]:
# increase revenue by producing more one-of-a-kind products
plt.bar(sales_per_item.index.tolist(), sales_per_item.values.tolist())
plt.xticks(rotation = 80)
plt.title("Revenue Made per Item Sold")
plt.ylabel("Revenue ($)")

In [ ]:
sales_df[]

In [ ]:
total_orders = sum(monthly_sales_df['Total Orders'].values.tolist())
total_orders

In [ ]:
total_items_sold = sum(sales_df['Net Quantity'].values.tolist())
total_items_sold

In [ ]:
# each order is two items bought on average
avg_order = round(total_items_sold / total_orders, 2)
avg_order

In [ ]:
#Questions to Answer
# Are Sales Increasing? --> Yes
# What products are selling the most? --> Basket, Art & Sculpture, jewelry
# What products are selling the least? --> Easter, Gift Baskets, One-of-a-kind
# Do Higher Discounts result in more products sold? Total Net Sales? --> Yes
# What products are increasing the most in demand? --> cannot determine